*{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    margin-top: 10px;
    transition: all 1s;
    cursor: pointer;
}

img:hover{
    scale: 1.1;
}

.img-box{
    
    max-width: 400px;
    margin: auto;
}

h1{
    text-align: center;
}

ul{
    margin-top: 40px;
   
}

